
{% block content %}
<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Kekambas</h1>
      <p class="lead text-muted">welcome to kekambas shop we are specialized in digital audio, video and brodcast products, but also offer other electronics products.</p>
      <p>
        <a href="#" class="btn btn-primary my-2">add to cart</a>
        <a href="#" class="btn btn-secondary my-2">Secondary action</a>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="pic1.jpg" alt="gaming uprising" width="200px">
            <div class="card-body">
              <p class="card-text">The GeForce RTX 3080 delivers the ultra performance that gamers crave, powered by Ampere—NVIDIA’s 2nd gen RTX architecture. It’s built with enhanced RT Cores and Tensor Cores, new streaming multiprocessors, and superfast G6X memory for an amazing gaming experience. The all-new NVIDIA Ampere architecture features new 2nd generation Ray Tracing Cores and 3rd generation Tensor Cores with greater throughput..</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">add to cart</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" data-src="pic2.jpg" alt="ultra gaming" width="200px">
            <div class="card-body">
              <p class="card-text">EVGA GeForce RTX 3080 FTW3 ULTRA GAMING, 10G-P5-3897-KR, 10GB GDDR6X, iCX3 Technology, ARGB LED, Metal Backplate..</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">add to cart</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" data-src="pic3.jpg" alt="gaming case" width="200px">
            <div class="card-body">
              <p class="card-text">This Gaming Tower Motherboard: This Gaming Case Full Tower For ATX, Micro-ATX; Mini-ITX; Power Supply: ATX Case is Down Position Separate ATX Power;.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">add to cart</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" data-src="pic4.jpg" alt="gaming gun" width="200px">
            <div class="card-body">
              <p class="card-text">Mainly applicable to the operation of related gun battle games on mobile phones/tablets with Android 3.2 and above, smart TVs with Bluetooth connection.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">add to cart</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" data-src="pic5.jpg" alt="driving simulator" width="200px">
            <div class="card-body">
              <p class="card-text">driver's interaction with the system through the steering wheel and gas and brake pedals is captured by sensors and electronics. The signals are converted into inputs to the underlying vehicle dynamic model.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">add to cart</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" data-src="pic6.jpg" alt="gaming laptop" width="200px">
            <div class="card-body">
              <p class="card-text">The Predator Helios 300 drops you right into the game with everything you need to obliterate the opposition. Only now, we’ve armed it with the new NVIDIA GeForce RTX 3060 laptop graphics.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">add to cart</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" data-src="pic7.jpg" alt="pc keyboard" width="200px">
            <div class="card-body">
              <p class="card-text">K680 Wireless Rechargeable Keyboard and Mouse Combo Removable hand rest is born for Gaming.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">add to cart</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" data-src="pic8.jpg" alt="microphone" width="200px">
            <div class="card-body">
              <p class="card-text">TONOR USB computer microphone is very suitable for gaming, online chatting, vocal recording, streaming, YouTube video, Skype etc..</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">add to cart</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" data-src="pic9.jpg" alt="joystick">
            <div class="card-body">
              <p class="card-text">custom joystick used on modern video game consoles.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>



{% endblock content %}

