{% extends 'base.html' %}

{% block content %}
<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading text-white">Kekambas</h1>
      <p class="lead text-white">Welcome to the Kekambas Shop where we are specialized in digital audio, video and brodcast products and also offer competitve pricing on other electronics products.</p>
      <p>
        <a href="/cart" class="btn btn-primary my-2">View Cart</a>
        <a href="/index" class="btn btn-secondary my-2">Home</a>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        {% for item in items %}
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="{{ item.imgurl }}" alt="gaming uprising" width="200px">
            <div class="card-body">
              <h5 class="card-text">{{ item.title }}</h5>
              <p class="card-text">{{ item.description }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button  href="/viewitem.html" class="btn btn-sm btn-outline-secondary">View Item</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
                </div>
                <small class="text-success">${{ item.amount}}</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %} 
        <!-- <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/91XyrUFYKfL._AC_SL1500_.jpg" alt="ultra gaming" width="200px">
            <div class="card-body">
              <p class="card-text">ASUS ROG STRIX NVIDIA GeForce RTX 3090 Gaming Graphics Card- PCIe 4.0, 24GB GDDR6X, HDMI 2.1, DisplayPort 1.4a, Axial-Tech Fan Design, 2.9-Slot</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View Item</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
                </div>
                <small class="text-success">$3600.00</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/61-7uGhZfQL._AC_SL1024_.jpg" alt="msi 3090" width="200px">
            <div class="card-body">
              <p class="card-text">MSI Gaming GeForce RTX 3090 24GB GDRR6X 384-Bit HDMI/DP Nvlink Tri-Frozr 2 Ampere Architecture OC Graphics Card (RTX 3090 GAMING X TRIO 24G)</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View Item</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
                </div>
                <small class="text-success">$3,999.00</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/616VM20%2BAzL._AC_SL1384_.jpg" alt="AMD CPU" width="200px">
            <div class="card-body">
              <p class="card-text">AMD Ryzen 9 5900X 12-core, 24-Thread Unlocked Desktop Processor</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View Item</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
                </div>
                <small class="text-success">$699.00</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/616VM20%2BAzL._AC_SL1384_.jpg" alt="driving simulator" width="200px">
            <div class="card-body">
              <p class="card-text">AMD Ryzen 9 5950X 16-core, 32-Thread Unlocked Desktop Processor</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View Item</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
                </div>
                <small class="text-success">$1,036.00</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/61bt%2BziG8VL._AC_SL1500_.jpg" alt="gaming laptop" width="200px">
            <div class="card-body">
              <p class="card-text">Intel Core i9-11900K Desktop Processor 8 Cores up to 5.3 GHz Unlocked LGA1200 (Intel 500 Series & Select 400 Series Chipset) 125W</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View Item</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
                </div>
                <small class="text-success">$550.00</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/812Gs%2Bu9OAL._AC_SL1500_.jpg" alt="6900xt" width="200px">
            <div class="card-body">
              <p class="card-text">MSI Gaming Radeon RX 6900 XT Boost Clock Up to 2340 MHz 256-bit 16GB GDDR6 DP/HDMI Triple Torx 4.0 </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View Item</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
                </div>
                <small class="text-success">$2,279.00</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/81lEaN6HGvL._AC_SL1500_.jpg" alt="6800 AMD" width="200px">
            <div class="card-body">
              <p class="card-text">Sapphire 11304-02-20G Nitro+ AMD Radeon RX 6800 XT PCIe 4.0 Gaming Graphics Card with 16GB GDDR6</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View Item</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
                </div>
                <small class="text-success">$1,999.00</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/81L5pyFMhgL._AC_SL1500_.jpg" alt="6900XT">
            <div class="card-body">
              <p class="card-text">PowerColor Red Devil AMD Radeon RX 6900 XT Ultimate Gaming Graphics Card with 16GB GDDR6 Memory, Powered by AMD RDNA 2, HDMI 2.1</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View Item</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
                </div>
                <small class="text-success">$2,410.00</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main> -->



{% endblock %}

